.product {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 140px 0;
    display: flex;
    gap: 96px;
}

.product__item {
    display: flex;
    flex-direction: column;
    width: 419px;
    gap: 30px;
}

.product__description {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.product__title {
    font-family: 'Anton';
    font-size: 60px;
}

.product__description {
    font-family: 'Montserrat-Light';
    font-size: 15px;
}

.product__price {
    font-family: 'Anton';
    font-size: 45px;
}

.product__button {
    background: linear-gradient(45deg, #ADA4E7, #5165AE, #253B6C);
    width: 419px;
    height: 50px;
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 25px;
}

.product__image {
    width: 508px;
    height: 242px;
}

.product__button:hover {
    background: linear-gradient(45deg, #DEA4E7, #A2619E, #6C255C);
}